[zmq_proxy_opts]
host={{ network_topology["private"]["address"] }}
frontend-port={{ zmq.proxy.ports.frontend.cont }}
backend-port={{ zmq.proxy.ports.backend.cont }}
publisher-port={{ zmq.proxy.ports.publisher.cont }}

{% if zmq.matchmaker == 'redis' %}
[oslo_messaging_zmq]
rpc_zmq_matchmaker=redis

[matchmaker_redis]
password={{ redis.password }}

{% if redis.deployment == 'single' %}
[matchmaker_redis]
host={{ address('redis') }}
port={{ redis.ports.server.cont }}
{% endif %}

{% if redis.deployment == 'ha' %}
[matchmaker_redis]
sentinel_hosts={{address('redis-sentinel')}}:{{ redis.ports.sentinel.cont }}
sentinel_group_name={{zmq.sentinel.master_group}}
{% endif %}

{% endif %}
