[zmq_proxy_opts]
host={{ network_topology["private"]["address"] }}
frontend-port={{ zeromq.proxy.ports.frontend.cont }}
backend-port={{ zeromq.proxy.ports.backend.cont }}
publisher-port={{ zeromq.proxy.ports.publisher.cont }}

{% if zeromq.matchmaker == 'redis' %}
[oslo_messaging_zmq]
rpc_zmq_matchmaker=redis

[matchmaker_redis]
password={{ redis.password }}

{% if redis.deployment == 'single' %}
host={{ address('redis') }}
port={{ redis.ports.server.cont }}
{% endif %}

{% endif %}
